environments:
  dev:
    url: localhost
    name: Developer Setup
  prod:
    url: 119.69.70.88
    name: The Banchan

spring:
  profiles:
    group:
      "local": "testDB,common"
      "dev":  "testDB,common"
      "prod": "prodDB,common"
    active: dev
---

spring:
  config:
    activate:
      on-profile: "testDB"

  jpa:
    database-platform: org.hibernate.dialect.SQLiteDialect

  servlet:
    multipart:
      location: ${HOME}/tmp

  posurl: "http://127.0.0.1:8081"
---

spring:
  config:
    activate:
      on-profile: "prodDB"

  servlet:
    multipart:
      location: C:/tmp

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://119.69.70.88:5432/themom
    username: bcm
    password: bcm2022!

---

spring:
  config:
    activate:
      on-profile: "common"

  jpa:
    hibernate:
      ddl-auto: update

  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
