environments:
  dev:
    url: localhost
    name: Developer Setup
  prod:
    url: 119.69.70.88
    name: The Banchan

spring:
  jpa:
    hibernate:
      ddl-auto: create-drop

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://119.69.70.88:5432/themom
    username: bcm
    password: bcm2022!

  servlet:
    multipart:
      location: ${HOME}/tmp

  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
